@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola bienvenidos!!</h1>
    <p>Esta es una aplicación de demostración para Github Actions.</p>
    <p>Esta aplicación se despliega automáticamente en Azure con Github Actions.</p>
    <p>¡Disfruta explorando!</p>
    <cite>Author: ::crack::night</cite>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
